section(class="grid-test")
  div(class="row")
    div(class="col-1-of-2") Col 1 of 2
    div(class="col-1-of-2") Col 1 of 2
  div(class="row")
    div(class="col-1-of-3") Col 1 of 3
    div(class="col-1-of-3") Col 1 of 3
    div(class="col-1-of-3") Col 1 of 3
  div(class="row")
    div(class="col-1-of-3") Col 1 of 3
    div(class="col-2-of-3") Col 2 of 3
  div(class="row")
    div(class="col-1-of-4") Col 1 of 4
    div(class="col-1-of-4") Col 1 of 4
    div(class="col-1-of-4") Col 1 of 4
    div(class="col-1-of-4") Col 1 of 4
  div(class="row")
    div(class="col-1-of-4") Col 1 of 4
    div(class="col-1-of-4") Col 1 of 4
    div(class="col-2-of-4") Col 2 of 4
  div(class="row")
    div(class="col-1-of-4") Col 1 of 4
    div(class="col-3-of-4") Col 3 of 4
