.popup(id="popup")
  .popup__content
    .popup__left
      img(src="../public/assets/img/nat-8.jpg", alt="Tour photo" class="popup__img popup__img-1")
      img(src="../public/assets/img/nat-9.jpg", alt="Tour photo" class="popup__img popup__img-2")
    .popup__right
      a(href="#section-tours" class="popup__close") &times;
      h2(class="heading-secondary u-margin-bottom-medium") Start booking now
      h3(class="heading-tertiary u-margin-bottom-small") Important &ndash; Please read these terms before booking
      p(class="popup__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Commodo viverra maecenas accumsan lacus vel facilisis volutpat est. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus mauris. Amet volutpat consequat mauris nunc congue nisi vitae. Auctor elit sed vulputate mi sit amet mauris. A lacus vestibulum sed arcu. Massa vitae tortor condimentum lacinia quis vel eros donec. Id neque aliquam vestibulum morbi blandit. Amet venenatis urna cursus eget nunc. Pellentesque habitant morbi tristique senectus et netus et. Nunc vel risus commodo viverra maecenas accumsan. Mi quis hendrerit dolor magna eget est. Massa vitae tortor condimentum lacinia quis. Bibendum enim facilisis gravida neque convallis a cras semper auctor.
      a(href="#" class="btn btn--green") Book now
