section(class="section-features")
  .row
    .col-1-of-4
      .feature-box
        i(class="feature-box__icon icon-basic-world")
        h3(class="heading-tertiary u-margin-bottom-small") Explore the world
        p(class="feature-box__text") Lorem consectetur adipiscing elit, sed do eiusmod labore et dolore magna aliqua.
    .col-1-of-4
      .feature-box
        i(class="feature-box__icon icon-basic-compass")
        h3(class="heading-tertiary u-margin-bottom-small") Meet nature
        p(class="feature-box__text") Lorem consectetur adipiscing elit, sed do eiusmod labore et dolore magna aliqua.
    .col-1-of-4
      .feature-box
        i(class="feature-box__icon icon-basic-map")
        h3(class="heading-tertiary u-margin-bottom-small") Find your way
        p(class="feature-box__text") Lorem consectetur adipiscing elit, sed do eiusmod labore et dolore magna aliqua.
    .col-1-of-4
      .feature-box
        i(class="feature-box__icon icon-basic-heart")
        h3(class="heading-tertiary u-margin-bottom-small") Live a helthier life
        p(class="feature-box__text") Lorem consectetur adipiscing elit, sed do eiusmod labore et dolore magna aliqua.
