doctype
html
  head
  body
    p
      a(href="./index.html") Torna alla home &rarr;
    div
      input#todo-title(placeholder="Titolo")
    div
      textarea#todo-body(placeholder="Descrizione task")
    p#last-edited
    button#remove-btn Cancella task

    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js")
    script(src="../src/functions.js")
    script(src="../src/edit.js")

