doctype
html
  head
    title my todos app
  body
    h1 Todos App
    label
      b Cerca task
        input#search-text(type="text" placeholder="Filtra")
    select#filter-by
      option(value="byCreated") Ordina per inserimento
      option(value="byEdited") Ordina per ultima modifica
      option(value="alphabetical") Ordina alfabeticamente
    label
        input#hide-completed(type="checkbox")
        | Nascondi completati

    #todo-list
    form#todo-form
      input(type="text" placeholder="Inserisci nuovo task" name="todoText")
      button Aggiungi

    script(src="../src/uuidv4.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js")
    script(src="../src/functions.js")
    script(src="../src/app.js")


