doctype
html
  head
    title my todos app
  body
    h1 Todos App
    h2 Your todos
    .todo-list
    input#search-text(type="text" placeholder="Start type here")
    button#add Aggiungi
    button#delete Cancella tutto
    script(src="../src/main.js")
