doctype
html
  head
    title my todos app
    link(href="../src/styles/style.css" rel="stylesheet")
    link(href="../public/assets/images/favicon.png?v=1" rel="icon")
  body
    header.header
      .container
        h1.header__title Todos App
        h2.header__subtitle What do you need to do?
    .actions
      .action__container.action__container--spaced
        a(href="./index.html") &larr; Home
    .container
      input#todo-title.title-input(placeholder="Title")
      textarea#todo-body.body-input(placeholder="Description")
      button#remove-btn.button.button--secondary Delete

    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js")
    script(src="../src/scripts/functions.js")
    script(src="../src/scripts/edit.js")

