doctype
html
  head
    title my todos app
    link(href="../src/styles/style.css" rel="stylesheet")
    link(href="../public/assets/images/favicon.png?v=1" rel="icon")
  body
    header.header
      .container
        h1.header__title Todos App
        h2.header__subtitle What do you need to do?
    .actions
      .actions__container
        input#search-text.input(type="text" placeholder="Search")
        select#filter-by.dropdown
          option(value="byCreated") Order by Created
          option(value="byEdited") Order by Edited
          option(value="alphabetical") Order Alphabetical
        label.checkbox
            input#hide-completed(type="checkbox")
            | Hide completed
    .container
      #todo-list
      form#todo-form
        input.input(type="text" placeholder="Add new todo" name="todoText")
        button.button Add

    script(src="../src/scripts/uuidv4.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js")
    script(src="../src/scripts/functions.js")
    script(src="../src/scripts/app.js")


