doctype
html
  head
    title hangman game
  body
    p#puzzle
    p#guesses
    button#reset Reset
    script(src="../src/requests.js")
    script(src="../src/hangman.js")
    script(src="../src/app.js")



