footer(class="footer")
  .footer__logo-box
    img(srcset="../public/assets/img/logo-green-1x.png 1x,../public/assets/img/logo-green-2x.png 2x" alt="Full logo" class="footer__logo")
  .row
    .col-1-of-2
      .footer__navigation
        ul(class="footer__list")
          li(class="footer__item")
            a(href="#" class="footer__link") Company
          li(class="footer__item")
            a(href="#" class="footer__link") Contact us
          li(class="footer__item")
            a(href="#" class="footer__link") Carrers
          li(class="footer__item")
            a(href="#" class="footer__link") Privacy policy
          li(class="footer__item")
            a(href="#" class="footer__link") Terms
    .col-1-of-2
      p(class="footer__copyright") Built by
        a(href="#" class="footer__link") &nbsp;Rosaria De Biasio
        |  based on Jonas Schmedtmann's design. Copyright &copy; 2019
