header(class="header")
    .header__logo-box
      img(src="../public/assets/img/logo-white.png", alt="Logo" class="header__logo")
    .header__text-box
      h1(class="heading-primary")
        span(class="heading-primary--main") Outdoors
        span(class="heading-primary--sub") is where life happens
      a(href="#" class="btn btn--white btn--animated") Discover our tours
