.navigation
  input(type="checkbox" class="navigation__checkbox" id="navi-toggle")
  label(for="navi-toggle" class="navigation__button") MENU

  .navigation__background
  nav(class="navigation__nav")
    ul(class="navigation__list")
      li(class="navigation__item")
        a(href="#" class="navigation__link")
          span 01.
          | About Natours
      li(class="navigation__item")
        a(href="#" class="navigation__link")
          span 02.
          | Your benefits
      li(class="navigation__item")
        a(href="#" class="navigation__link")
          span 03.
          | Popular tours
      li(class="navigation__item")
        a(href="#" class="navigation__link")
          span 04.
          | Stories
      li(class="navigation__item")
        a(href="#" class="navigation__link")
          span 05.
          | Book now

