section(class="section-tours")
  div(class="u-center-text u-margin-bottom-big")
    h2(class="heading-secondary") Most popular tours
  .row
    .col-1-of-3
      .card
        div(class="card__side card__side--front")
          div(class="card__picture card__picture--1") &nbsp;
          h4(class="card__heading card__heading--1")
            span(class="card__heading-span card__heading-span--1") The Sea Explorer
          div(class="card__details")
            ul
              li 3 day tour
              li Up to 30 people
              li 2 tour guides
              li Sleep in cozy hotels
              li Difficulty: easy

        div(class="card__side card__side--back card__side--back-1")
          div(class="card__cta")
            div(class="card__price-box")
              p(class="card__price-only") Only
              p(class="card__price-value") $297
            a(class="btn btn--white" href="#") Book now!
    .col-1-of-3
      .card
        div(class="card__side card__side--front")
          div(class="card__picture card__picture--2") &nbsp;
          h4(class="card__heading card__heading--2")
            span(class="card__heading-span card__heading-span--2") The Forest Hiker
          div(class="card__details")
            ul
              li 7 day tour
              li Up to 40 people
              li 6 tour guides
              li Sleep in provided tents
              li Difficulty: medium

        div(class="card__side card__side--back card__side--back-2")
          div(class="card__cta")
            div(class="card__price-box")
              p(class="card__price-only") Only
              p(class="card__price-value") $497
            a(class="btn btn--white" href="#") Book now!
    .col-1-of-3
      .card
        div(class="card__side card__side--front")
          div(class="card__picture card__picture--3") &nbsp;
          h4(class="card__heading card__heading--3")
            span(class="card__heading-span card__heading-span--3") The Snow Adventurer
          div(class="card__details")
            ul
              li 5 day tour
              li Up to 15 people
              li 3 tour guides
              li Sleep in provided tents
              li Difficulty: hard

        div(class="card__side card__side--back card__side--back-3")
          div(class="card__cta")
            div(class="card__price-box")
              p(class="card__price-only") Only
              p(class="card__price-value") $897
            a(class="btn btn--white" href="#") Book now!
  div(class="u-center-text u-margin-top-huge")
    a(class="btn btn--green" href="#") Discover all tours
