section(class="section-stories")
  div(class="u-center-text u-margin-bottom-big")
    h2(class="heading-secondary") We make people genuinely happy
  div(class="row")
    .story
      figure(class="story__shape")
        img( class="story__image" src="../public/assets/img/nat-8.jpg" alt="Person on a tour")
        figcaption(class="story__caption") Mary Smith
      .story__text
        h3(class="heading-tertiary u-margin-bottom-small") I had the best week ever with my family
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
