doctype html
html(lang="en")

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")

  link(href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet")

  link(rel="stylesheet" href="../public/assets/fonts/linea-icons-basic/styles.css")
  link(rel="stylesheet" href="style.css")
  link(rel="shortcut icon" type="image/png" href="../public/assets/img/favicon.png")

  title Natours | Exciting tours for adventurous people


body
  include partials/header.pug

  main
    include partials/section-about.pug
    include partials/section-features.pug
    include partials/section-tours.pug
    include partials/section-stories.pug
    include partials/section-booking.pug

  include partials/footer.pug

