doctype html
html(lang="en")

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")

  link(href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet")

  link(rel="stylesheet" href="../public/assets/fonts/linea-icons-basic/styles.css")
  link(rel="stylesheet" href="style.css")
  link(rel="shortcut icon" type="image/png" href="../public/assets/img/favicon.png")

  title Natours | Exciting tours for adventurous people


body
  header(class="header")
    .header__logo-box
      img(src="../public/assets/img/logo-white.png", alt="Logo" class="header__logo")
    .header__text-box
      h1(class="heading-primary")
        span(class="heading-primary--main") Outdoors
        span(class="heading-primary--sub") is where life happens
      a(href="#" class="btn btn--white btn--animated") Discover our tours

  main
    section(class="section-about")
      div(class="u-center-text u-margin-bottom-big")
        h2(class="heading-secondary") Exciting tours for adventours people
      .row
        .col-1-of-2
          h3(class="heading-tertiary u-margin-bottom-small") You're going to fall in love with nature
          p(class="paragraph") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          h3(class="heading-tertiary u-margin-bottom-small") You're going to fall in love with nature
          p(class="paragraph") Lorem consectetur adipiscing elit, sed do eiusmod labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          a(href="#" class="btn-text") Learn more &rarr;
        .col-1-of-2
          .composition
            img(src="../public/assets/img/nat-1-large.jpg" alt="Photo 1" class="composition__photo composition__photo--p1")
            img(src="../public/assets/img/nat-2-large.jpg" alt="Photo 2" class="composition__photo composition__photo--p2")
            img(src="../public/assets/img/nat-3-large.jpg" alt="Photo 3" class="composition__photo composition__photo--p3")
    section(class="section-features")
      .row
        .col-1-of-4
          .feature-box
            i(class="feature-box__icon icon-basic-world")
            h3(class="heading-tertiary u-margin-bottom-small") Explore the world
            p(class="feature-box__text") Lorem consectetur adipiscing elit, sed do eiusmod labore et dolore magna aliqua.
        .col-1-of-4
          .feature-box
            i(class="feature-box__icon icon-basic-compass")
            h3(class="heading-tertiary u-margin-bottom-small") Meet nature
            p(class="feature-box__text") Lorem consectetur adipiscing elit, sed do eiusmod labore et dolore magna aliqua.
        .col-1-of-4
          .feature-box
            i(class="feature-box__icon icon-basic-map")
            h3(class="heading-tertiary u-margin-bottom-small") Find your way
            p(class="feature-box__text") Lorem consectetur adipiscing elit, sed do eiusmod labore et dolore magna aliqua.
        .col-1-of-4
          .feature-box
            i(class="feature-box__icon icon-basic-heart")
            h3(class="heading-tertiary u-margin-bottom-small") Live a helthier life
            p(class="feature-box__text") Lorem consectetur adipiscing elit, sed do eiusmod labore et dolore magna aliqua.
    section(class="section-tours")
      div(class="u-center-text u-margin-bottom-big")
        h2(class="heading-secondary") Most popular tours
      div(class="row")
        div(class="col-1-of-3") Col 1 of 3
        div(class="col-1-of-3") Col 1 of 3
        div(class="col-1-of-3") Col 1 of 3



//- GRID
  section(class="grid-test")
    div(class="row")
      div(class="col-1-of-2") Col 1 of 2
      div(class="col-1-of-2") Col 1 of 2
    div(class="row")
      div(class="col-1-of-3") Col 1 of 3
      div(class="col-1-of-3") Col 1 of 3
      div(class="col-1-of-3") Col 1 of 3
    div(class="row")
      div(class="col-1-of-3") Col 1 of 3
      div(class="col-2-of-3") Col 2 of 3
    div(class="row")
      div(class="col-1-of-4") Col 1 of 4
      div(class="col-1-of-4") Col 1 of 4
      div(class="col-1-of-4") Col 1 of 4
      div(class="col-1-of-4") Col 1 of 4
    div(class="row")
      div(class="col-1-of-4") Col 1 of 4
      div(class="col-1-of-4") Col 1 of 4
      div(class="col-2-of-4") Col 2 of 4
    div(class="row")
      div(class="col-1-of-4") Col 1 of 4
      div(class="col-3-of-4") Col 3 of 4
