doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet")
    link(rel="stylesheet" href="style.css")
    link(rel="shortcut icon" type="image/png" href="../public/assets/img/favicon.png")

    title trillo &mdash; Your all-in-one booking app

  body
    .container
      header.header
        img.logo(src="../public/assets/img/logo.png" alt="trillo logo")
        form.search(action="#")
          input.search__input(type="text" placeholder="Search hotels")
          button.search__button
            svg.search__icon
              use(xlink:href="../public/assets/img/sprite.svg#icon-magnifying-glass")
        nav.user-nav
          .user-nav__icon-box
            svg.user-nav__icon
              use(xlink:href="../public/assets/img/sprite.svg#icon-bookmark")
            span.user-nav__notification 7
          .user-nav__icon-box
            svg.user-nav__icon
              use(xlink:href="../public/assets/img/sprite.svg#icon-chat")
            span.user-nav__notification 12
          .user-nav__user
            img.user-nav__user-photo(src="../public/assets/img/user.jpg" alt="user photo")
            span.user-nav__user-name Jonas
      .content
        nav.sidebar
          ul.side-nav
            li(class="side-nav__item side-nav__item--active")
              a.side-nav__link(href="#")
                svg.side-nav__icon
                  use(xlink:href="../public/assets/img/sprite.svg#icon-home")
                span Hotel
            li.side-nav__item
              a.side-nav__link(href="#")
                svg.side-nav__icon
                  use(xlink:href="../public/assets/img/sprite.svg#icon-aircraft-take-off")
                span Flight
            li.side-nav__item
              a.side-nav__link(href="#")
                svg.side-nav__icon
                  use(xlink:href="../public/assets/img/sprite.svg#icon-key")
                span Car rental
            li.side-nav__item
              a.side-nav__link(href="#")
                svg.side-nav__icon
                  use(xlink:href="../public/assets/img/sprite.svg#icon-map")
                span Tours
          .legal &copy; 2019 by trillo. All rights reserved.




        main.hotel-view
          .gallery
            figure.gallery__item
              img(src="../public/assets/img/hotel-1.jpg" alt="Photo of hotel 1" class="gallery__photo")
            figure.gallery__item
              img(src="../public/assets/img/hotel-2.jpg" alt="Photo of hotel 2" class="gallery__photo")
            figure.gallery__item
              img(src="../public/assets/img/hotel-3.jpg" alt="Photo of hotel 3" class="gallery__photo")
          .overview
            h1.overview__heading Hotel Las Palmas
            .overview__stars
              svg.overview__icon-star
                use(xlink:href="../public/assets/img/sprite.svg#icon-star")
              svg.overview__icon-star
                use(xlink:href="../public/assets/img/sprite.svg#icon-star")
              svg.overview__icon-star
                use(xlink:href="../public/assets/img/sprite.svg#icon-star")
              svg.overview__icon-star
                use(xlink:href="../public/assets/img/sprite.svg#icon-star")
              svg.overview__icon-star
                use(xlink:href="../public/assets/img/sprite.svg#icon-star")
            .overview__location
              svg.overview__icon-location
                use(xlink:href="../public/assets/img/sprite.svg#icon-location-pin")
              button.btn-inline Albufeira, Portugal
            .overview__rating
              .overview__rating-average 8.6
              .overview__rating-count 429 votes
          .detail
            .description
              p.paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi dignissimos debitis ratione sapiente saepe. Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate.
              p.paragraph Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate delectus, inventore iure aliquid aliquam.
              ul.list
                li.list__item Close to the beach
                li.list__item Breakfast included
                li.list__item Free airport shuttle
                li.list__item Free wifi in all rooms
                li.list__item Air conditioning and heating
                li.list__item Pets allowed
                li.list__item We speak all languages
                li.list__item Perfect for families
              .recommend
                p.recommend__count Lucy and 3 other friends recommend this hotel
                .recommend__friends
                  img(src="../public/assets/img/user-3.jpg" alt="" class="recommend__photo")
                  img(src="../public/assets/img/user-4.jpg" alt="" class="recommend__photo")
                  img(src="../public/assets/img/user-5.jpg" alt="" class="recommend__photo")
                  img(src="../public/assets/img/user-6.jpg" alt="" class="recommend__photo")
            .user-reviews User reviews


